Hi,

<p>You have a new reader on The Spain Report…!</p>

<ul>
    <li><%= @user.email %></li>
    <li><%= @user.emaillanguage %></li>
</ul>

<p>
    Matthew Bennett
    <br />
    The Spain Report
</p>