<% if @user.sitelanguage == 1 %>
	Hi,
	<p>To choose a new password, click this link (valid for one hour):</p>
	<p><%= link_to "Click for a new password", enter_new_password_user_url(@user.confirm_token) %></p>
	<%= render "users/passwords_explanation" %>
	<p>If you did not request this e-mail, just ignore it and your current password will continue to work.</p>
	<p>Kindest regards,</p>
<% elsif @user.sitelanguage == 2 %>
	Hola,
	<p>Para elegir una contraseña nueva, haga clic en este enlace (válido durante una hora):</p>
	<p><%= link_to "Haga clic aquí para elegir una contraseña nueva", introducir_clave_nueva_user_url(@user.confirm_token) %></p>
	<%= render "users/passwords_explanation" %>
	<p>Si no ha solicitado este correo, puede ignorarlo y su clave actual seguirá funcionando.</p>
	<p>Saludos cordiales,</p>
<% else end %>

<p>
    Matthew Bennett
    <br />
    The Spain Report
</p>