Hola,

<p>Para cambiar su clave, haga clic en este enlace, (válido durante una hora):</p>

<p><%= link_to "Haga clic aquí para elegir una clave nueva", clave_nueva_user_url(@user.confirm_token) %></p>

<p>Puede elegir una frase clave fácil de recordar, con espacios, como "Quiero más noticias" o "Me encanta The Spain Report"</p>

<p>Sólo debe contener al menos 11 caracteres, con al menos una letra mayúscula y al menos un espacio.</p>

<p>No tiene por que incluir símbolos o números, pero puede usarlos si quiere.</p>

<p>Si no ha solicitado este correo, puede ignorarlo y su clave actual seguirá funcionando.</p>

<p>Saludos cordiales,</p>

<p>
    Matthew Bennett
    <br />
    The Spain Report
</p>