<% if @user.sitelanguage == 1 %>
	Hi,
	<p>The password for your account has just been changed.</p>
	<p>If it was you who just changed it, well done, it worked.</p>
	<p>If it was NOT your intention or if you believe your account has just been hacked, click this link immediately to set a new password:</p>
	<p><%= link_to "Click for a new password now", enter_new_password_user_url(@user.confirm_token) %></p>
	<%= render "users/passwords_explanation" %>
	<p>Kindest regards,</p>
<% elsif @user.sitelanguage == 2 %>
	Hola,
	<p>La contraseña para su cuenta acaba de cambiar.</p>
	<p>Si ha sido su intención, enhorabuena, ha funcionado.</p>
	<p>Si NO ha sido su intención o cree que alguien ha intentado acceder a su cuenta sin su permiso, haga clic inmediatamente en este enlace para configurar otra:</p>
	<p><%= link_to "Haga clic ahora para elegir una contraseña nueva", introducir_clave_nueva_user_url(@user.confirm_token) %></p>
	<%= render "users/passwords_explanation" %>
	<p>Si no ha solicitado este correo, puede ignorarlo y su clave actual seguirá funcionando.</p>
	<p>Saludos cordiales,</p>
<% else end %>

<p>
    Matthew Bennett
    <br />
    The Spain Report
</p>