Hi,

<p>Thank you for joining The Spain Report. Please click on this link to confirm your email address and set a password:</p>

<p><%= link_to "Confirm email address", confirm_email_user_url(@user.confirm_token) %></p>

<p>
    Latest Articles:
    <ul>
        <% @latestarticles.each do |a| %>
            <li><%= link_to a.headline, a %></li>
        <% end %>
    </ul>
</p>

<p>
    ***************<br />
    <%= @frame.cta_reader_to_patron %>: <%= link_to @frame.cta_reader_to_patron_link, @subscribe %><br />
    ***************
</p>

<p>If you did not request this e-mail, just ignore it.</p>

<p>Kindest regards,</p>

<p>
    Matthew Bennett
    <br />
    The Spain Report
</p>