<% case @user.sitelanguage when 1 %>
    Hi,
    <p>Thank you for joining The Spain Report. Please click on this link to confirm your email address and set a password:</p>
    <p><%= link_to "Confirm email address", confirm_email_user_url(@user.confirm_token) %></p>
    <p>
        Latest Articles:
        <ul>
            <% @latestarticles.each do |a| %>
                <li><%= link_to a.headline, a %></li>
            <% end %>
        </ul>
    </p>
    <p>If you did not request this e-mail, just ignore it.</p>
    <p>Very best,</p>
<% when 2 %>
    Hola,
    <p>Gracias por apuntarse a The Spain Report. Haga clic en este enlace para confirmar su correo electrónico y establecer una contraseña:</p>
    <p><%= link_to "Confirmar correo electrónico", confirmar_correo_user_url(@user.confirm_token) %></p>
    <p>
        Últimos Artículos:
        <ul>
            <% @latestarticles.each do |a| %>
                <li><%= link_to a.headline, a %></li>
            <% end %>
        </ul>
    </p>
    <p>Si no ha solicitado este correo, puede ignorarlo.</p>
    <p>Saludos,</p>
<% end %>

<p>
    Matthew Bennett<br />
    The Spain Report<br />
    matthew@thespainreport.com<br />
    (0034) 647 81 81 43
</p>