<%= render "articles/admintop" %>

	<h1 class="font-header font-header-normal line-115">Statuses</h1>
	
	<div class="margin-bottom-20">
		<div style="border: 1 px solid #000; background-color: #<%= @status.colorbackground %>; color: #<%= @status.colortext %>;">Editing status…</div>
	</div>

	<%= render 'form', status: @status %>

</div>