<h3 class="index_video"><%= link_to article.short_headline, article %></h3>

<% if article.audio_aac_id.present? %>
	<div class="margin-left-20 margin-top-20" >
		<audio controls>
		  	<source src="<%= 'https://audio.thespainreport.es/' + File.basename(Upload.find(article.audio_aac_id).data) unless article.audio_aac_id.nil? %>" type="audio/aac">
		  	<source src="<%= 'https://audio.thespainreport.es/' + File.basename(Upload.find(article.audio_mp3_id).data) unless article.audio_mp3_id.nil? %>" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
	</div>
<% end %>