<div class="margin-bottom-0">
	
	<div class="float-left align-left mobile-100">
		<div class="">
			<div class="topbutton mobile-100"> 
				<a href="https://www.patreon.com/join/matthewbennett" class="topbutton"> 
					Support The Spain Report
				</a> 
			</div>
		</div>
		<div class="margin-top-2 font-main font-italic font-main-small">
			Guarantee independent journalism.
		</div>
	</div>
	
	<div class="float-right align-right mobile-100">
		<div class="width-fixed-logo">
			<%= link_to(root_url, class: 'logo') do %>
				<span class="display-block label font-main font-main-big font-upper background-color-red">
					<span class="font-color-yellow">The</span> <span class="font-color-orange">Spain</span> <span class="font-color-yellow">Report</span>
				</span>
			<% end %>
		</div>
		<div class="">
			
		</div>
	</div>
	
</div>
<div class="clear"></div>