<% if @article.extras_notes.present? %>
	<h3>
		<% case @article.language_id when 1 %>More Text:
		<% when 2 %>Más Texto:
		<% end %>
		<%= @article.extras_notes_teaser %>
	</h3>
	
	<div class="">
		<%= markdown(@article.extras_notes).html_safe %>
	</div>
<% else end %>