<% if @article.extra_audio_aac_id.present? %>
	<h3>
		<% case @article.language_id when 1 %>More Audio:
		<% when 2 %>Más Audio:
		<% end %>
		<%= @article.extras_audio_teaser %>
	</h3>

	<div class="">
		<%= markdown(@article.extras_audio_intro).html_safe %>
	</div>
	
	<div class="margin-left-20 margin-top-10 margin-bottom-20">
		<audio controls>
		 	<source src="<%= 'https://audio.thespainreport.es/' + File.basename(Upload.find(@article.extra_audio_aac_id).data) unless @article.extra_audio_aac_id.nil? %>" type="audio/aac">
	  		<source src="<%= 'https://audio.thespainreport.es/' + File.basename(Upload.find(@article.extra_audio_mp3_id).data) unless @article.extra_audio_mp3_id.nil? %>" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
	</div>
<% else end %>