<% if @article.extras_notes.present? %>
	<h3>
		<% case @article.language_id when 1 %>More Text
		<% when 2 %>Más Texto
		<% end %>
	</h3>
	
	<div class="margin-top-10">
		<%= markdown(@article.extras_notes).html_safe %>
	</div>
<% else end %>