<% if @article.extras_notes.present? || @article.extras_audio_file.present? %>
	<div class="margin-top-0 font-main-small">
		<ul class="margin-bottom-0 margin-left-0">
			<% if @article.extras_audio_file.present? %>
				<li>
					<% if @article.language_id == 1 %> Audio:
					<% elsif @article.language_id == 2 %> Audio:
					<% else end %>
					<%= @article.extras_audio_teaser %>
				</li>
			<% else end %>
			<% if @article.extras_notes.present? %>
				<li>
					<% if @article.language_id == 1 %> Notes:
					<% elsif @article.language_id == 2 %> Apuntes:
					<% else end %>
					<%= @article.extras_notes_teaser %>
				</li>
			<% else end %>
			<% if @article.extras_transcription_file.present? %>
				<li>
					<% if @article.language_id == 1 %> Transcription:
					<% elsif @article.language_id == 2 %> Transcripción:
					<% else end %>
					<%= @article.extras_transcription_teaser %>
				</li>
			<% else end %>
		</ul>
	</div>
<% else end %>