<% if ["Photos", "fotos"].include?(@article.type.name) %>
	
	<% if @can_read_trial_over || @can_read_0 || @can_read_1 || @can_read_5 %>
		<div class="buy-border-bottom padding-bottom-10">
			<p class="font-main-small">
				<% case @language when 1 %>Patrons contributing more than...
				<% when 2 %>Los mecenas que contribuyen más de...
				<% end %>
			</p>
			<ul class="margin-left-0 font-main-small">
				<li>
					<% case @language when 1 %>...€10/month can view and download high-resolution images
					<% when 2 %>...10 euros/mes pueden ver y descargar imágenes de alta resolución
					<% end %>
				</li>
			</ul>
			
			<div class="align-centre topbutton mobile-100"> 
				<a href="<%= @increase %>" class="buybutton"><%= @cta %></a> 
			</div>
			
		</div>
	<% end %>

<% else end %>