<% if @article.extras_audio_file.present? %>
	<div class="margin-left-20 margin-top-30 margin-bottom-20" >
		<div class="padding-left-5 font-main font-main-small font-italic" >
			<span class="font-bold">
				<% if @article.language_id == 1 %>
					Listen:
				<% elsif @article.language_id == 2 %>
					Escuche:
				<% else end %>
			</span> <%= @article.extras_audio_intro %>
		</div>
		<audio controls>
		 	<source src="<%= 'https://audio.thespainreport.es/' + @article.extras_audio_file %>" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
	</div>
<% else end %>