<%= render "admintop" %>

	<div class="margin-bottom-20">
		Editing
	    <% if @article.original.blank? %>
			original…
		<% else %>
			translation…
		<% end %>
		<% if notice %>
			<span class="notice"><%= notice %></span>
		<% else %>
		<% end %>
	</div>

	<%= render 'form', article: @article %>

</div>