<%= render "articles/admintop" %>

    <h1 class="font-header font-header-normal line-115">Languages</h1>
    
	<div class="margin-bottom-20">
		New language…
	</div>

<%= render 'form', language: @language %>

</div>