<div class="float-left meta font-main font-main-tiny margin-top-3" >
	<div class="margin-right-5 float-left mobile-bottom-10">
		<% if @reader %>
			<span class="label background-color-green font-color-white">
				<% case @language when 1 %>NEW READER
				<% when 2 %>LECTOR NUEVO
				<% end %>
			</span>
		<% elsif @patron %>
			<span class="label patrons-label">
				<% case @language when 1 %>PATRON
				<% when 2 %>MECENAS
				<% end %>
			</span>
		<% elsif @admin %>
			<span class="label background-color-black font-color-white">
				<% case @language when 1 %>ADMIN
				<% when 2 %>ADMIN
				<% end %>
			</span>
		<% else end %>
	</div>
</div>