<% title @user.email %>

<div class="content">
    <%= render "layouts/logo_account" %>
    <div class="margin-top-30">
        <h1 class="font-header font-header-normal line-120"><%= @user.email %></h1>
    </div>
    
    <%= render 'form', user: @user %>

<%= render "layouts/footer" %>

</div>