<% title @user.email %>

    <%= render "layouts/logo_account" %>
    
    <h1 class="font-header font-header-normal line-120"><%= @user.email %></h1>
    
    <%= render 'form', user: @user %>

<%= render "layouts/footer" %>