Hola,

Please click on this link to re-enter your credit card details and fix this problem with your payment:

<p><%= link_to "Click for a new password", fix_problem_payment_url(@payment.external_payment_id) %></p>

<p>Saludos,</p>

<p>
    Matthew Bennett
    <br />
    The Spain Report
</p>