Hi,

Well done! Thank you very much. You are now part of a group that really does support independent journalism. You are a hero of democracy.

<p>
    Your email: <%= @user %><br />
    Your account ID: <%= @account %><br />
    Amount: €<%= @amount %>
</p>

<p>
    Any problems, just email me (matthew@thespainreport.es) or ring (0034 647 81 81 43). Always a pleasure to chat.
</p>

<p>Kindest regards,</p>

<p>
    Matthew Bennett
    <br />
    The Spain Report
</p>