<% if !current_user.nil? && !@super_patron %>

<div class="buy-border-bottom padding-bottom-10">
	<div class="align-centre topbutton mobile-100"> 
		<a href="<%= @increase %>" class="buybutton"><%= @cta %></a> 
	</div>
</div>

<% end %>