<div class="content">

<h1 class="font-header font-header-normal">The Spain Report 2019</h1>

<p><strong>Theresa May</strong> has warned the UK faces "uncharted territory" if Parliament rejects her Brexit deal as she vowed to redouble her efforts to win MPs round. <span class="highlight">Next week's vote would "definitely" go ahead</span> , she told the BBC, as she promised new safeguards for Northern Ireland and to look at giving MPs more say in shaping future EU negotiations.</p>

<p>"What you have is a <strong>Labour leadership</strong>... which is opposing any deal to create the greatest chaos possible, people who are promoting a second referendum in order to stop Brexit and people who want to see their perfect Brexit... the danger there is we end up with no Brexit at all"</p>

<p>El Supremo falla que un hombre reciba seis meses de cárcel por lesiones de menor gravedad (153.1) y una mujer tres meses por el mismo delito (153.2) en una trifulca de pareja mutua en la puerta de una discoteca, sin denuncias y sin lesiones y sin lesiones y sin lesiones y sin le.</p>

<p>Vox was mentioned in many of the tweets about the Balthasar in Andoain on Saturday night. Vox leader Santiago Abascal made great political and media use of the immigration crisis on the southern coasts over the summer. While the party is trying to frame its approach to immigration as greater control, the whiff of an underlying xenophobia has not disappeared or been dispelled.</p>
<p>Mr. Abascal high lighted Manuel Valls <a href="#">as“Ciudadanos’ Frenchman” in December</a>, and over Christmas an official party account <a href="https://twitter.com/voxnoticias_es/status/1078630113779109888">twice used</a> a controversial word, “negrero”, to refer to the NGO migrant rescue boat Open Arms, which was allowed to dock in Algeciras (Andalusia).</p>
<p>“Negrero” might just be translated as “slave boat” or it might be “<span class="highlight">black slave boat</span>” or <span class="highlight">“slave boat full of blacks”</span>. The party threw in a bit of <strong>George Soros conspiracy theory</strong> with its defence: “What is the ugly part of this, calling things by their name or the complicity of Open Arms-Soros with people traffickers?”.</p>
<p>Beyond the specific question of immigration, Vox’s offer to voters includes a heightened sense of traditional Spanish identity (which allows it to position itself strongly against Catalan separatists, for example). On January 2, <a href="https://twitter.com/vox_es/status/1080418155992940545">it commemorated</a> the 527th anniversary of the end of the siege of Granada in 1492, in which Christian Spanish forces “brought to an end eight long centuries of reconquest against Muslim invaders”.</p>
<p>The Popular Party under its new leader, Pablo Casado, is shifting its discourse right to meet the challenge from Vox. With so much political power up for grabs around the country in 2019, it would be a grave mistake if political leaders were to amplify certain anecdotal aspects of Spanish culture or to knowingly make use of historical details in a populist xenophobic manner in order to win votes, and damn the consequences for a society whose collective conscience is fuelled by Twitter and WhatsApp.</p>


<p>Duis finibus purus vel ligula pulvinar viverra. Maecenas pellentesque ac magna pretium molestie. Donec quis nulla ut magna viverra dignissim. <span class="highlight">Nunc posuere tellus et magna tincidunt, rhoncus euismod lectus finibus.</span> Donec eget aliquam felis. Nam condimentum turpis non bibendum tempor. Pellentesque a ornare tellus. Proin ultricies et magna eu egestas. Quisque non aliquet ligula.</p>

<p>Il1 Cras volutpat facilisis quam in rhoncus. Cras ut lorem nec nisi pharetra fermentum sed rhoncus tellus. Praesent mattis nec justo nec ultricies. <a href="#">Suspendisse nec</a> euismod magna. Maecenas hendrerit nisi at leo pellentesque lobortis. Suspendisse laoreet justo a lorem mattis, vel mattis lacus mattis. Nulla accumsan mauris vel leo iaculis, gravida semper erat condimentum. In vulputate, massa et semper consequat, diam urna rutrum odio, a imperdiet metus lacus id elit.</p>

<p>Vestibulum in lacus turpis. Nunc fringilla vel magna eget hendrerit. Mauris placerat convallis risus laoreet dignissim. Nulla ullamcorper at mi at bibendum. Donec nulla sapien, fringilla sit amet rhoncus non, tristique in nulla. Quisque ullamcorper vulputate condimentum. Phasellus nec tempus turpis. Aliquam ut porttitor odio. Donec vel turpis sapien. Sed et risus nibh. Ut varius erat lacinia, ornare arcu ut, lobortis quam. Praesent a est sagittis, pharetra sem sit amet, commodo justo. Donec aliquam maximus pulvinar. Aliquam ut orci felis.</p>
<h2>Subheading about some thing Il1</h2>
<p><a href="#">Nulla mattis</a> sit amet enim at hendrerit. Pellentesque dictum nisl commodo, blandit sem quis, sagittis nunc. Maecenas mollis convallis imperdiet. Nulla ac blandit nibh. Phasellus imperdiet sem a tempor vulputate. Nam nec sodales lorem, quis rhoncus lectus. Morbi magna nisi, fringilla eget venenatis id, lobortis nec justo. Nam est elit, mattis vitae ultricies et, cursus id sem. Fusce ultrices lobortis nibh et commodo.</p>

<ul>
  <li><a href="#">One</a></li>
  <li><a href="#">Two</a></li>
  <li>Three</li>
  <li>Four</li>
  <li>Five</li>
</ul>

<p>Vestibulum in lacus turpis. Nunc fringilla vel magna eget hendrerit. Mauris placerat convallis risus laoreet dignissim. Nulla ullamcorper at mi at bibendum. Donec nulla sapien, fringilla sit amet rhoncus non, tristique in nulla. Quisque ullamcorper vulputate condimentum. Phasellus nec tempus turpis. Aliquam ut porttitor odio. Donec vel turpis sapien. Sed et risus nibh. Ut varius erat lacinia, ornare arcu ut, lobortis quam. Praesent a est sagittis, pharetra sem sit amet, commodo justo. Donec aliquam maximus pulvinar. Aliquam ut orci felis.</p>

<p>Nulla mattis sit amet enim at hendrerit. Pellentesque dictum nisl commodo, blandit sem quis, sagittis nunc. Maecenas mollis convallis imperdiet. Nulla ac blandit nibh. Phasellus imperdiet sem a tempor vulputate. Nam nec sodales lorem, quis rhoncus lectus. Morbi magna nisi, fringilla eget venenatis id, lobortis nec justo. Nam est elit, mattis vitae ultricies et, cursus id sem. Fusce ultrices lobortis nibh et commodo.</p>

<a type="button" class="button">Support the truth now</button>
</div>