<div class="content">
	
	<% if current_user %>
		Logged in as <%= current_user.email %>.
		<%= link_to 'Logout', users_logout_path %>
	<% else %>
	<% end %>

<h1 class="font-header font-header-normal">The Spain Report 2019</h1>

<p><strong>xxxx</strong></p>


<a type="button" class="button">Support the truth now</a>
</div>