<h1>Editing
    <% if @story.original.blank? %>
		Original
	<% else %>
		Translation
	<% end %>
</h1>

<%= render 'form', story: @story %>

<%= link_to 'Show', @story %> |
<%= link_to 'Back', stories_path %>
