<%= render "articles/admintop" %>

	<h1 class="font-header font-header-normal line-115">Campaigns</h1>
	
	<div class="margin-bottom-20">
		Editing campaign…
	</div>
	<%= render 'form', campaign: @campaign %>

</div>