/* Site-wide HTML */
body {margin-top: 20px; padding-top: 0px; background-color: #fff;}
h2, h3, h4, h5 {margin-top: 20px; margin-bottom: 10px; font-family: Anton; text-transform: uppercase; font-size: 18px; line-height: 100%;}
p {margin-top: 0px; margin-bottom: 20px; font-family: Georgia; font-size: 18px; line-height: 130%; text-align: left; overflow-wrap: break-word;}
li {margin-top: 0px; margin-bottom: 0px; font-family: Georgia; font-size: 18px; font-style: normal; line-height: 130%; text-align: left;}
img {max-width: 100%; margin: 10px 0 5px 0;}
mark {background-color: #ffe680; font-weight: normal;}
tr.even {background-color: #d6f5d6;}
input[type=number]{width: 45px;}

/* Links */
a {color: #2952a3;}
a:visited {color: #930677;}
a:hover {background-color: #0073e6; color: #fff;}
a.logo, a.logo:visited {background-color: #AA151B; color: #ffffff; font-family: Georgia; text-decoration: none;}
a.logo:hover {background-color: #AA151B;}
a.button, a.button:visited, a.topbutton, a.topbutton:visited, a.label, a.label:visited, button {background-color: #2952a3; color: #ffffff; font-family: Georgia; text-decoration: none;}
a.button:hover, a.topbutton:hover, a.label:hover, button:hover {background-color: #0073e6;}
a.button, a.button:visited {font-size: 18px; padding: 5px 50px;}
a.topbutton, a.topbutton:visited {font-size: 14px; padding: 5px 40px;}
a.button, a.button:visited, a.topbutton, a.topbutton:visited, button {border: 1px solid #2952a3; border-radius: 3px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset; cursor: pointer; text-align: center; display: inline-block;}
a.editor-link, a.editor-link:visited, a.editor-link:hover, h1 a, h1 a:visited, h1 a:hover {background-color: #fff; color: #000; text-decoration: none;}
a.no-hover-bg:hover {background-color: #fff;}

/* Appearances */
.font-bold {font-weight: bold;}
.font-italic {font-style: italic;}
.font-upper {text-transform: uppercase;}
.font-main {font-family: Georgia;}
.font-main-big {font-size: 21px;}
.font-main-normal {font-size: 18px;}
.font-main-small, .font-main-small li, .plan-benefits ul li, ol.instructions li {font-size: 15px;}
.font-main-vsmall {font-size: 13px;}
.font-main-tiny {font-size: 11px;}
.font-header {font-family: 'Anton'; font-weight: 400; }
.font-header-normal {font-size: 28px;}
.font-header-small {font-size: 23px;}
.font-header-tiny {font-size: 16px;}
.font-color-white {color: #ffffff;}
.font-color-black {color: #000000;}
.font-color-orange {color:#F1BF00;}
.font-color-yellow {color:#ffe680;}
.background-color-red {background-color: #AA151B;}
.background-color-black {background-color: #000000;}
.background-color-yellow {background-color: #fff5cc;}
.background-color-yellow-border {border: 2px solid #F1BF00;}
.background-color-patrons {background-color: #cc7a00;}
.border-patrons {border: 2px solid #cc7a00;}
.line-100 {line-height: 100%;}
.line-115 {line-height: 114%;}
.line-120 {line-height: 120%;}
.line-130 {line-height: 130%;}
.border-bottom-1 {border-bottom: 1px solid #AA151B;}
.alert {margin-bottom: 10px; padding: 10px;}
.alert p {padding: 0; margin: 0;}
.alert-success {border: 2px solid #009900; background-color: #f2ffe6; color: #009900;}
.alert-warning, .alert-tryagain {border: 2px solid #cc7a00; background-color: #fff5cc; color: #cc7a00;}
.alert-error {border: 2px solid #ff0000; background-color: #ffe6e6; color: #ff0000;}
.no-points {list-style: none; margin: 0px; padding: 0px;}

/* Positioning */
.clear {clear:both;}
.float-left {float: left;}
.float-right {float: right;}
.align-centre {text-align: center;}
.align-right {text-align: right;}
.align-left {text-align: left;}
.display-block {display: block;}
.width-100, input.width-100 {width: 100%;}
.width-98, input.width-98 {width: 98%;}
.width-90, input.width-90 {width: 90%;}
.width-70, input.width-70 {width: 70%;}
.width-50, input.width-50 {width: 50%;}
.width-48, input.width-48 {width: 48%;}
.width-40, input.width-40 {width: 40%;}
.width-37, input.width-37 {width: 37%;}
.width-33, input.width-33 {width: 32%;}
.width-20, input.width-20 {width: 20%;}
.width-5 {width: 5%;}
.width-fixed-logo {width: 212px;}
.height-15 {height: 15px;}
.margin-centre {margin: 0 auto;}
.margin-top-0 {margin-top: 0px;}
.margin-top-2 {margin-top: 2px;}
.margin-top-5 {margin-top: 5px;}
.margin-top-10 {margin-top: 10px;}
.margin-top-20 {margin-top: 20px;}
.margin-top-30 {margin-top: 30px;}
.margin-top-50 {margin-top: 50px;}
.margin-bottom-0 {margin-bottom: 0px;}
.margin-bottom-5 {margin-bottom: 5px;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-bottom-30 {margin-bottom: 30px;}
.margin-left-20 {margin-left: 20px;}
.margin-right-5 {margin-right: 5px;}
.margin-right-10 {margin-right: 10px;}
.margin-right-20 {margin-right: 20px;}
.padding-2, input.padding-2 {padding: 2px;}
.padding-5, input.padding-5 {padding: 5px;}
.padding-7, input.padding-7 {padding: 7px;}
.padding-10, input.padding-10 {padding: 10px;}
.padding-20 {padding: 20px;}
.padding-top-0 {padding-top: 0px;}
.padding-top-2 {padding-top: 2px;}
.padding-top-5 {padding-top: 5px;}
.padding-bottom-0 {padding-bottom: 0px;}
.padding-bottom-2 {padding-bottom: 2px;}
.padding-left-5 {padding-left: 5px;}

/* Other stuff */
.content {width: 650px; margin: 0 auto; padding: 10px 30px; border-left: 2px solid #AA151B; border-right: 2px solid #AA151B;}
.content-wide {width: 1100px; margin: 0 auto; padding: 10px; border-left: 1px solid #AA151B; border-right: 1px solid #AA151B;}
.meta {text-transform: uppercase;}
.label {padding: 2px 5px;}
.label-big {padding: 4px 8px;}
.frameimage {width: 200px; border-radius: 50%;}
.video-wrapper {position: relative; margin-top: 10px; margin-bottom: 10px; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0;}
.video-wrapper iframe {position: absolute; top: 0; left: 0; width: 99%; height: 100%;}

/* Mobile placeholders */
.mobile-100 {}
.mobile-margins {}

/* Responsive, mobiles */
/* # Media Queries

/* Stripe form styles */
.StripeElement {box-sizing: border-box; height: 40px; padding: 10px 12px; border: 1px solid transparent; border-radius: 4px; background-color: white; box-shadow: 0 1px 3px 0 #e6ebf1; -webkit-transition: box-shadow 150ms ease; transition: box-shadow 150ms ease;}
input.stripe_email, .font-payment {color: #32325d; font-family: Georgia; font-size: 16px;}
input.stripe_email::placeholder {color: #aab7c4;}
.StripeElement--focus {box-shadow: 0 1px 3px 0 #cfd7df;}
.StripeElement--invalid {border-color: #fa755a;}
.StripeElement--webkit-autofill {background-color: #fefde5 !important;}

/* ---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 700px) {
    body {width: 98%; margin: 0 auto;}
    .content {width: 100%; margin: 0 auto; padding: 10px 0px 0px 10px; border-left: 0; border-right: 0;}
    .mobile-100 {width: 100%; margin-bottom: 5px;}
    .mobile-width {width: 48%;}
    p, li {width: 98%; font-size: 19px;}
    img {width: 98%;}
    .mobile-bottom-10 {margin-bottom: 5px;}
    .font-main-small {font-size: 17px;}
}

@media only screen and (max-width: 400px) {
    .mobile-width {width: 100%;}
    .mobile-margins {margin: 0px;}
}