/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 20px;
  background-color: #fff;
}

.content {
  margin-left: 50px;
  border-left: 5px solid #AA151B;
  padding-left: 50px;
  width: 700px;
}

h1, h2 {
  font-family: Impact;
  text-transform: none;
}

p, li {
  font-family: "Courier New";
  font-size: 18px;
  line-height: 130%;
  text-align: left;
}

a {
  color: #0073e6;
}

a:hover{
  background-color: #2952a3;
  color: #fff;
}

.highlight {
  background-color: #ffe680;
  font-weight: normal;
}

.button {
  background-color: #0073e6;
  border: 1px solid #2952a3;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  color: white;
  line-height: 80%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Courier New";
  font-size: 18px;
  padding: 10px 50px;
}

.button:hover {
  background-color: #2952a3;
}