<%= render "articles/admintop" %>

	<div class="margin-bottom-20">
		Editing upload…
	</div>
	
	<div class="margin-bottom-20">
		<%= render 'form', upload: @upload %>
	</div>
	
	<%= image_tag @upload.data %>
</div>