<div class="padding-top-20 buy-border-top margin-top-30 margin-bottom-30">
	
	<% if @language == 1 %>
		<span class="font-bold font-main-normal">What is The Spain Report?</span>
		<p class="margin-top-10">
			Independent reporting and analysis of the most important stories changing the country, 
			written by Matthew Bennett, a British journalist who has been living and working in Spain for most of the past 20 years.
		</p>
	<% elsif @language == 2 %>
		<span class="font-bold font-main-normal">¿Qué es The Spain Report?</span>
		<p class="margin-top-10">
			Información y análisis independientes sobres las noticias y tendencias que están cambiando España.
			Lo escribe Matthew Bennett, un periodista británico que vive y trabaja aquí desde hace 20 años.
		</p>
	<% else %>
	<% end %>
		<p>
		<ul>
			<li><strong>Email:</strong> matthew@thespainreport.com</li>
			<li><strong>Phone:</strong> (0034) 647 81 81 43</li>
			<li><strong>Twitter:</strong> <a href="https://twitter.com/matthewbennett" title="Matthew Bennett on Twitter">@matthewbennett</a></li>
			<li><strong>YouTube:</strong> The Spain Report</li>
			<li><strong>Facebook:</strong> The Spain Report</li>
			<li><strong>Instagram:</strong> The Spain Report</li>
			<li><strong>Tik Tok:</strong> The Spain Report</li>
			<li><strong>LinkedIn:</strong> The Spain Report</li>
		</ul>
		</p>

	<p class="margin-centre" style="text-align: center;">
		&#169;<%= Time.new.year %> Matthew Bennett<br />
		<a href="<%= root_url %>" title="The Spain Report">The Spain Report</a>
		| <a href="/es" title="The Spain Report en español">En español</a>
	</p>
</div>

</div>
<div class="clear"></div>