<div class="margin-bottom-10">
	
	<% if controller_name == 'home' && action_name == 'index' || controller_name == 'articles' && action_name == 'show' && @article.language_id == 1 %>
		<span class="font-bold font-main-normal">What is The Spain Report?</span>
		<p class="margin-top-10">
			Independent reporting and analysis of the most important stories changing the country, 
			written by Matthew Bennett, a British journalist who has been living and working in Spain for most of the past 20 years.
			<a href="#">Read more</a>
		</p>
		<p>
			<strong>Questions, stories, interviews, tips:</strong> matthew@thespainreport.com<br />
	<% elsif controller_name == 'home' && action_name == 'es' || controller_name == 'articles' && action_name == 'show' && @article.language_id == 2 %>
		<span class="font-bold font-main-normal">¿Qué es The Spain Report?</span>
		<p class="margin-top-10">
			Información y análisis independientes sobres las noticias y tendencias que están cambiando España.
			Lo escribe Matthew Bennett, un periodista británico que vive y trabaja aquí desde hace 20 años.
			<a href="#">Lea más</a>
		</p>
		<p>
			<strong>Preguntas, temas, noticias, entrevistas:</strong> matthew@thespainreport.com<br />
	<% else %>
	<% end %>
			<strong>WhatsApp/Signal:</strong> (0034) 647 81 81 43<br />
			<strong>Twitter:</strong> <a href="https://twitter.com/matthewbennett" title="Matthew Bennett on Twitter">@matthewbennett</a>
		</p>

	<p class="margin-centre" style="text-align: center;">
		&#169;<%= Time.new.year %> Matthew Bennett<br />
		<a href="<%= root_url %>" title="The Spain Report">The Spain Report</a>
		| <a href="/" title="The Spain Report in English">In English</a>
		| <a href="/es" title="The Spain Report en español">En español</a>
	</p>
</div>