<div class="padding-top-20 buy-border-top margin-top-30 margin-bottom-30">
		<h3 class="">
			<% case @language when 1 %>What is The Spain Report?
			<% when 2 %>¿Qué es The Spain Report?
			<% end %>
		</h3>

		<p class="margin-top-10 font-main-small">
			<% case @language when 1 %>Independent reporting and analysis of the most important stories changing Spain, written by Matthew Bennett, a British journalist who has been living here for more than 20 years.
			<% when 2 %>Información y análisis independientes sobres las noticias y tendencias que están cambiando España. Informa Matthew Bennett, un periodista británico que vive aquí desde hace 20 años.
			<% end %>
		</p>

		<ul class="font-main-small">
			<li><strong>Email:</strong> matthew@thespainreport.com</li>
			<li><strong>Phone/Signal:</strong> (0034) 647 81 81 43</li>
		</ul>

		<%= render 'layouts/links' %>
	
	<p class="margin-centre margin-top-30 font-main-small" style="text-align: center;">
		&#169;<%= Time.new.year %> Matthew Bennett<br />
		<a href="<%= root_url %>" title="The Spain Report">The Spain Report</a>
		| <a href="/es" title="The Spain Report en español">The Spain Report en español</a>
	</p>
	
</div>

</div>
<div class="clear"></div>