<strong>Bitcoin:</strong> 3HfKnLAb1nWfh6e8BCjst6cwyWX6fTciz9
<br /><img src="<%= asset_path('bitcoin_qr_3HfKnLAb1nWfh6e8BCjst6cwyWX6fTciz9.jpg') %>" style="max-width: 200px; margin-top: 0px;" />

<br />
<br /><strong>Ethereum</strong> (ETH, BAT, ENS, LINK, SHIB, UNI, USDT, USDC, etc.)
<br />- thespainreport.eth</strong>
<br />- <a href="https://etherscan.io/address/0xf02eefc88336c142dee946b14b6fc24539357871">0xf02eefc88336c142dee946b14b6fc24539357871</a>

<br />
<br /><strong>NFTs:</strong> <a href="https://rarible.com/thespainreport">Rarible</a>