- Bitcoin: 3HfKnLAb1nWfh6e8BCjst6cwyWX6fTciz9
<br />- Ethereum: 0xf02eefc88336c142dee946b14b6fc24539357871 (<a href="https://etherscan.io/address/0xf02eefc88336c142dee946b14b6fc24539357871">etherscan</a>)
<br />- ENS: thespainreport.eth (bitcoin, ethereum, ERC-20)</strong>
<br /><img src="<%= asset_path('bitcoin_qr_3HfKnLAb1nWfh6e8BCjst6cwyWX6fTciz9.jpg') %>" style="max-width: 200px; margin-top: 0px;" />

<% if false %>
<br />
<br /><strong>NFTs:</strong> <a href="https://rarible.com/thespainreport">Rarible</a>
<% end %>