Podcast: 
<% if @language == 2 %>
	<a href="https://www.thespainreport.es/es/rss/podcast" title="Bennett en España RSS">RSS</a> |
	<a href="https://podcasts.apple.com/podcast/id1495596384" title="Bennett en España en Apple Podcasts">Apple Podcasts</a> |
	<a href="https://open.spotify.com/show/7euXMABMb6onzw50VxKK0W" title="Bennett en España en Spotify">Spotify</a> | 
	<a href="https://www.ivoox.com/podcast-bennett-espana_sq_f1842998_1.html" title="Bennett en España en iVoox">iVoox</a> |
	<a href="https://www.stitcher.com/podcast/bennett-en-espana" title="Bennett en España en Stitcher">Stitcher</a> |
	<a href="https://tunein.com/podcasts/News--Politics-Podcasts/Bennett-en-Espana-p1286596/" title="Bennett en España en TuneIn">TuneIn</a> |
	<a href="https://soundcloud.com/user-842077287/sets/bennett-en-espana" title="Bennett en España en SoundCloud">SoundCloud</a>
<% elsif @language == 1 %>
	<a href="https://www.thespainreport.es/rss/podcast" title="The Spain Report RSS">RSS</a> |
	<a href="https://podcasts.apple.com/us/podcast/the-spain-report/id1590889706" title="The Spain Report on Apple Podcasts">Apple Podcasts</a> | 
	<a href="https://open.spotify.com/show/4A8CdKc4bYPYsapzyxdvWo" title="The Spain Report on Spotify">Spotify</a> |
	<a href="https://www.ivoox.com/podcast-bennett-in-spain_sq_f1842992_1.html" title="The Spain Report on iVoox">iVoox</a> |
	<a href="https://www.stitcher.com/podcast/the-spain-report" title="The Spain Report on Stitcher">Stitcher</a> |
	<a href="https://tunein.com/podcasts/News--Politics-Podcasts/Bennett-in-Spain-p1290614/" title="The Spain Report on TuneIn">TuneIn</a> |
	<a href="https://soundcloud.com/user-842077287/sets/bennett-in-spain" title="The Spain Report on SoundCloud">SoundCloud</a>
<% else %>
<% end %>