ETH, USDT: <strong>thespainreport.eth</strong>
<br />NFTs: <a href="https://rarible.com/thespainreport">Rarible</a>
<br />Ethereum: 0xf02eefc88336c142dee946b14b6fc24539357871
<br />Bitcoin: 3HfKnLAb1nWfh6e8BCjst6cwyWX6fTciz9