<div class="margin-bottom-30">
	
	<div class="float-left align-left mobile-100">
		<div class="">
			<div class="topbutton mobile-100"> 
				<a href="https://www.patreon.com/join/matthewbennett" class="topbutton"> 
					<% if controller_name == 'home' && action_name == 'es' || controller_name == 'articles' && action_name == 'show' && @article.language_id == 2 %>
						Apoye al Spain Report
					<% else %>
						Support The Spain Report
					<% end %>
				</a> 
			</div>
		</div>
		<div class="margin-top-2 font-main font-italic font-main-small">
			<% if controller_name == 'home' && action_name == 'es' || controller_name == 'articles' && action_name == 'show' && @article.language_id == 2 %>
				Garantice el periodismo independiente.
			<% else %>
				Gurantee independent journalism.
			<% end %>
		</div>
	</div>
	
	<div class="float-right align-right mobile-100">
		<div class="width-fixed-logo">
			<%= link_to(root_url, class: 'logo') do %>
				<span class="display-block label font-main font-main-big font-upper background-color-red">
					<span class="font-color-yellow">The</span> <span class="font-color-orange">Spain</span> <span class="font-color-yellow">Report</span>
				</span>
			<% end %>
		</div>
		<div class="">
			
		</div>
	</div>
	<div class="clear"></div>

</div>