<div class="margin-bottom-30">
	
	<div class="float-left align-left mobile-100">
		<div class="">
			<div class="topbutton mobile-100"> 
				<a href="<%= @stub_value + @frame.link_slug %>" class="topbutton"><%= @frame.emotional_quest_action %></a> 
			</div>
		</div>
		<div class="margin-top-2 font-main font-italic font-main-small">
			<%= @frame.emotional_quest_role %>
		</div>
	</div>
	<div class="float-right align-right mobile-100">
		<div class="width-fixed-logo">
			<% if controller_name == 'payments' && action_name == 'pay' || controller_name == 'payments' && action_name == 'pagar' %>
			
			<% elsif controller_name == 'home' && action_name == 'es' || controller_name == 'articles' && action_name == 'show' && @article.language_id == 2 %>
				<a href="/es" class="logo">
			<% else %>
				<a href="/" class="logo">
			<% end %>
				<span class="display-block label font-main font-main-big font-upper background-color-red">
					<span class="font-color-yellow">The</span> <span class="font-color-orange">Spain</span> <span class="font-color-yellow">Report</span>
				</span>
			</a>
		</div>
	</div>
	<div class="clear"></div>
</div>